#
# When changing sync with .gitignore!
#


# bitrise cli
.bitrise.secrets.yml
# Terraform
secrets.tfvars
terraform.tfstate
terraform.tfstate.backup
.terraform
.terraform.tfstate.lock.*
# secret envs
.env
# build intermediate dirs
_bin/
